@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);

.star-wars {
	font: 700 1em "News Cycle", sans-serif;
  letter-spacing: .15em;
}

.intro {
	font: 700 1em "News Cycle", sans-serif;
  letter-spacing: .15em;
	text-align: left;
  color: rgb(75, 213, 238);
}

.present .shrink {
  position: absolute;
  left: 16%;
  top: 22vh;
  animation-name: shrink;
  animation-duration: 13s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: scale(0.1);
  opacity: 0;
}

@keyframes shrink {
  0% {
    opacity: 1;
    transform: scale(2);
  }
  90% {
    opacity: 1;
    transform: scale(0.1);
  }
  100% {
    opacity: 0;
  }
}

.crawl-title {
  font-size: 90%;
  text-align: center;
}

.crawl-title > h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
  color: #feda4a !important;
}

.crawl-title > h3 {
  margin: 0 0 50px;
  text-transform: none;
  color: #feda4a !important;
}

.crawl-text > p {
  text-align: justify;
  font-size: 1.5em;
}

.crawl-wrapper {
  perspective: 900px;
}

.present .crawl {
  font: 700 1em "News Cycle", sans-serif;
  width: 800px;
  margin: 0 auto;
  color: #feda4a;
  transform: rotateX(30deg) translateY(110vh) scale(1.5);
  animation: animateCrawl 150s linear;
  animation-delay: 10s;
}

@keyframes animateCrawl {
  0% {
    transform: rotateX(30deg) translateY(110vh) scale(1.5);
  }
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    transform: rotateX(40deg) translateY(-1450vh) scale(1.5);
  }
}

.present .crawl-fade {
  position: absolute;
  width: 100%;
  min-height: 80vh;
  top: -150px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
  animation: visible 8s;
}

@keyframes visible {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}